<head>
    <link rel = "stylesheet" href = "app/main-component/product-detail/product-review-card/product-review-card.component.css">
</head>
<div class="container">
    <div class="grid grid-cols-12 gap-3">
      <div class="col-span-3 lg:col-span-1">
        <div class="w-[3rem] h-[3rem]">
              <img class="w-full h-full rounded-full" src="https://img.faballey.com/images/Product/ILS00539Z/d3.jpg" alt="">
        </div>
      </div>
      <div class="col-span-6 lg:col-span-9">
        <div class="space-y-2">
          <div class="">
            <p class=" ml-5 font-semibold text-lg">item.user.firstName</p>
            <p class=" ml-5 opacity-70">May 5, 2024</p>
          </div>
          <div>
            <div class="">
              <star></star>
           
            </div>
          </div>
          <p class = "ml-5">
            item.review
          </p>
        </div>
      </div>
      <div class="col-span-1 flex"></div>
    </div>
  </div>