<!-- MY-ANGULAR/app/components/home/home.component.html -->
<div class = "mt-6">

    <div class="carousel-container">
        <main-carousel images="$ctrl.images"></main-carousel>
    </div>

    <div>
        <product-slider title="Men's Jeans" products ="$ctrl.mensJeans"></product-slider >
        <product-slider title="Women's Gouns"products ="$ctrl.womensGouns"></product-slider>
        <product-slider title="Lehanga Choli"products ="$ctrl.lehangaCholi"></product-slider>
        <product-slider title="Men's Kurta" products ="$ctrl.mensKurta"></product-slider>
        <product-slider title="Shoes" products ="$ctrl.shoes"></product-slider>
    </div>

</div>
